/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  /* TEXT COLORS */
  --text-primary: #9bb9c6;
  --text-hover: #6dd0fa;
  --lightblue-text: #a4e3ff;
  --superlight-text: #cef0ff;

  /* COLORS: BLUE */
  --blue: #3db4f2;
  --dark-blue: #0f1d2d;
  --greyish-blue: #5d7078;
  --background-dark: #0b1622;
  --footer-dark: #11161d;

  --success: #16a34a;
  --error: #dc2626;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-primary);
  background: var(--background-dark);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Flex Box App Structure */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: var(--blue);
  font-weight: 600;
}

.container {
  padding: 0 1.5rem;
}

a {
  color: var(--blue);
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: var(--text-hover);
}
